.prism-container {
    position: fixed;
    /* Fixed to cover whole page in background */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* Place it behind everything */
    pointer-events: none;
    /* Make sure it doesn't block any clicks */
}